body, html{
    font: normal 18px/1.5;
    font-family: 'Raleway', sans-serif;
    background: green;
    color: black;
    min-width: 960px;
    color: black;
}
table{
    width: 20%;
}

td {
   background-color: cadetblue;

}
h1{
    text-align: center;
   
}
tr{
    background-color: darkgray;
}