body, html{
    font: normal 18px/1.5;
    font-family: 'Raleway', sans-serif;
    background:rgb(148, 148, 233);
    color: black;
    min-width: 960px;
    color: black;
}
table{
    width: 20%;
}

td {
   background-color: rgb(247, 144, 144);

}
h1{
    text-align: center;
   
}
tr{
    background-color: white;
}